@import-normalize;
@import 'vars';
@import 'mixins';

#app {
    @apply --typeography-theme;
    text-align: center;
}

a {
    color: var(--indigo);
    text-decoration: none;
}

a.active {
    color: var(--main-color);
}

a:hover,
a:focus { 
    color: var(--indigo);
}

h1,
h2 {
    font-weight: normal;
}
li {
    display: inline-block;
    margin: 0 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
